/*Scripting For Web Applications - Gallery CSS Document*/

/*----Slideshow Style----*/
#imgHolder {margin-left: 113px;}
#previousButton {
	background: url(../images/previous_button.png) no-repeat;
	float: left;
	width: 93px;
	height: 33px;
	text-indent: -999999px;
	margin-top: 10px;
}
#nextButton {
	background: url(../images/next_button.png) no-repeat;
	height: 33px;
	width: 93px;
	text-indent: -999999px;
	margin: 10px 0px 0px 309px;
}

/*----Thumbnail Gallery Style----*/
#thumbnails {
	float: left;
	width: 630px;
	margin-bottom: 10px;
}
#gallery {
	width: 500px;
	margin-left: 110px;
}
#gallery li {
	float: left;
	margin: 10px;
}