/*Scripting For Web Applications - Link CSS Document*/

/*----Logo Link Style----*/
#logo a {
	color: #000;
	text-align: left;
	display: block;
	height: 102px;
	width: 102px;
	margin-top: 9px;
	text-indent: -999999px;
}

/*----Navigation Link Style----*/
#nav li a:link, #nav li a:visited {
	text-decoration: none;
	color: #FFF;
	background-color: #6585A7;
	border: 3px solid #CCC;
	display: block;
}
#nav li a:hover, #gallery img:hover {
	text-decoration: none;
	color: #000;
	background-color: #CCC;
	border: 3px solid #6585A7;
}
#nav li a:active {
	text-decoration: none;
	color: #FFF;
	background-color: #184F8C;
	border: 3px solid #FFF;
}

/*----Gallery Link Style----*/
#previousButton a, #nextButton a {
	border-style: none;
	display: block;
	height: 33px;
	width: 94px;
}
#previousButton a:hover {background: url(../images/previous_button.png) no-repeat 0px -34px;}
#nextButton a:hover {background: url(../images/next_button.png) no-repeat 0px -34px;}
#gallery img {border: 3px solid #CCC;}

/*----Register Button (Form) Link Style ----*/
#register_button a:visited , #register_button a:link{
	width: 97px;
	text-decoration: none;
	color: #FFF;
	background-color: #6585A7;
	border: 3px solid #CCC;
	display: block;
}
#register_button a:hover {
	width: 97px;
	text-decoration: none;
	color: #000;
	background-color: #CCC;
	border: 3px solid #6585A7;
}
#register_button a:active {
	text-decoration: none;
	color: #FFF;
	background-color: #184F8C;
	border: 3px solid #CCC;
}


#content_nav a:visited, #content_nav a:link{
	width: 97px;
	text-decoration: none;
	color: #FFF;
	background-color: #6585A7;
	border: 3px solid #CCC;
	display: block;
}
#content_nav a:hover {
	width: 97px;
	text-decoration: none;
	color: #000;
	background-color: #CCC;
	border: 3px solid #6585A7;
}
#content_nav a:active {
	text-decoration: none;
	color: #FFF;
	background-color: #184F8C;
	border: 3px solid #CCC;
}


#sendButton a:visited, #sendButton a:link{
	width: 97px;
	text-decoration: none;
	color: #FFF;
	background-color: #6585A7;
	border: 3px solid #B3B3B3;
	display: block;
	text-align: center;
	line-height: 25px;
}
#sendButton a:hover {
	width: 97px;
	text-decoration: none;
	color: #000;
	background-color: #F9F9F9;
	border: 3px solid #6585A7;
	text-align: center;
	line-height: 25px;
}
#sendButton a:active {
	text-decoration: none;
	color: #FFF;
	background-color: #184F8C;
	border: 3px solid #CCC;
	text-align: center;
	line-height: 25px;
}

#previous a:visited, #previous a:link, #next a:visited, #next a:link{
	width: 97px;
	text-decoration: none;
	color: #FFF;
	background-color: #6585A7;
	border: 3px solid #B3B3B3;
	display: block;
	text-align: center;
	line-height: 25px;
	padding-bottom: 5px;
}
#previous a:hover, #next a:hover {
	width: 97px;
	text-decoration: none;
	color: #000;
	background-color: #CCC;
	border: 3px solid #6585A7;
	text-align: center;
	line-height: 25px;
}
#previous a:active, #next a:active {
	text-decoration: none;
	color: #FFF;
	background-color: #184F8C;
	border: 3px solid #CCC;
	text-align: center;
	line-height: 25px;
}